* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    color: #555;
    background-color: #fff;
}

.chart {
    max-width: 900px;
    height: 450;
    padding: 50px;
    margin: 0px auto;
}

.chart .chart_types {
    text-align: center;
    margin-bottom: 30px;
}

.chart .chart_types button {
    padding: 10px 25px;

}